{% extends 'layout.html.twig' %}

{% block page_title %}{{ parent() }} - Home{% endblock %}
{% block style %}<link rel="stylesheet" href="./assets/home.css">{% endblock %}

{% block content %}
    <main><br>
        <div class="new-twtt">
            <textarea name="new-twtt" cols="100" rows="5" required maxlength="140"></textarea>
            <button name="new-twtt">Twtter</button>
        </div><br>
        <div class="tl">
        </div>
    </main>
{% endblock %}

{% block script %}
    <script src="./assets/scripts/search.js"></script>
    <script src="./assets/scripts/home.js"></script>
    <script src="./assets/scripts/search.js"></script>
{% endblock %}
