{% extends 'layout.html.twig' %}

{% block page_title %}{{ parent() }} - Home{% endblock %}

{% block content %}
    <main>
        <form>
            <fieldset>
                <legend>twtter</legend>
                <textarea name="twtt" cols="100" rows="5"></textarea><br>
                <button name="submit">Twtter</button>
            </fieldset>
        </form>
    </main>
{% endblock %}

{% block script %}
    <script src="./assets/script/home.js"></script>
{% endblock %}