{% extends 'layout.html.twig' %}

{% block page_title %}{{ parent() }} - Home{% endblock %}
{% block style %}<link rel="stylesheet" href="./assets/home.css">{% endblock %}

{% block content %}
    <main><br>
        <div class="new-twtt">
            <textarea name="new-twtt" cols="100" rows="5" required maxlength="140"></textarea>
            <button name="new-twtt"><i class="fal fa-paper-plane"></i></button>
        <div class="tl list-group">
        </div><br>
        </div>
    </main>
{% endblock %}

{% block script %}
    <script src="./assets/scripts/search.js"></script>
    <script src="./assets/scripts/home.js"></script>
{% endblock %}
