{% extends 'layout.html.twig' %}

{% block page_title %}{{ parent() }} - Home{% endblock %}

{% block content %}
    <main>
        <div class="new-twtt">
            <textarea name="new-twtt" cols="100" rows="5"></textarea><br>
            <button name="new-twtt">Twtter</button>
        </div>
        <div class="tl">

        </div>
    </main>
{% endblock %}

{% block script %}
    <script src="./assets/scripts/home.js"></script>
{% endblock %}