<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.0.13/css/all.css">
    <title>{% block page_title %}Twttr{% endblock %}</title>
    <link rel="stylesheet" href="./assets/style.css">
    <script src="./assets/scripts/script.js"></script>
    {% block style %}{% endblock %}
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <nav>
        {% if session is defined %}
            <ul class="nav">
                <li class="head-link"><a href="?action=home">Home</a></li>
                <li class="head-link"><a href="?action=profile&amp;profile_id={{ session.id }}">Profile</a></li>
                <li class="head-link"><a href="?action=logout">Logout</a></li>
                <li class="form-search">
                    <form action="?action=searchUser" name="searchUser" class="userSearch">
                        <input type="text" name="username" list="usernames" required>
                        <datalist id="usernames">
                            {% for users in allUsers %}
                                <option value="{{ users['username'] }}">
                            {% endfor %}
                        </datalist>
                        <input type="submit" name="submit" value="Search user">
                    </form>
                </li>
            </ul>
        {% endif %}
    </nav>
</header>
{% block content %}
{% endblock %}

{% block script %}
{% endblock %}

</body>
</html>