<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css">
    <title>{% block page_title %}Twttr{% endblock %}</title>
    <link rel="stylesheet" href="assets/style.css">
    <script src="assets/scripts/script.js"></script>
</head>
<body>
<header>
    <nav>
        <ul>
            {% if session %}
                <li><a href="?action=home">Home</a></li>
                <li><a href="?action=logout">Logout</a></li>
            {% else %}
            <li><a href="?action=login">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
{% block content %}
{% endblock %}

{% block script %}
{% endblock %}

</body>
</html>