{% extends 'layout.html.twig' %}
{% block page_title %}{{ parent() }} - profile{% endblock %}

{% block content %}
    <h2><a href="?action=profile&profile_id={{ userInfo.id }}">{{ userInfo.username }} @{{ userInfo.at_username }}</a></h2>
    <div class="tl-profile">

    </div>
{% endblock %}

{% block script %}
    <script src="./assets/scripts/profile.js"></script>
{% endblock %}